<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    
</head>
<body>
    <div id="app">
        
        <template v-if="colors[0]">
            <div>
                <span style="background-color: green;">{{colors[0]}}</span>
            </div>
        </template>
        <template v-if="colors[1]">
            <div>
                <span style="background-color: yellow;">{{colors[1]}}</span>
            </div>
        </template>
        <template v-if="colors[2]">
            <div>
                <span style="background-color: red;">{{colors[2]}}</span>
            </div>
        </template>

        <button v-on:click="colors++">เปลี่ยนสี</button>

        
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                colors:[
                    'green',
                    'yellow',
                    'red'
                ]
            },
            computed:{
                g:function(){
                    return this.g=='green'
                }
            }
        })
    </script>
</body>
</html>