<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="addBox(color)">เปลี่ยนสี</button>
        
        <template v-if="boxes.length==0">
            <div>
                {{boxes}}
            </div>
        </template>

        
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data:{
                lastId:0,
                color:['green','yellow','red'],
                boxes:[]
            },
            methods:{
                Box:function(){
                    this.Box.push({
                        id: this.lastId++,
                    })
                }
            }
        })
    </script>
</body>
</html>